.weatherBg{
  background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color: white;
  font-weight: 700;
}
.weatherResultBox{
  margin: auto;
  width: 300px;
  height: 300px;
}
.weatherIcon{
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}